.header {
    grid-area: h;
    background-color: green;
}

.header img {
    width: 20px;
}

.loginBlock {
    float: left;
    color: wheat;
    cursor: pointer;
    padding-right: 12px;

}

.loginBlock a {
    color: white;
    cursor: pointer;
}
