.formsControls.error input,
.formsControls.error textarea {
    border: solid red 2px;
}

.formsControls.error span {
    color: red;
}

.formSummaryError {
    color: red;
    border: 2px solid red;
    padding: 5px;
    width: 200px;
}